@import url("https://fonts.googleapis.com/css?family=Roboto:400");

.h7{
  text-decoration-color: #000000;
}

/* Menu-bar */
.menu-bar {
  align-items: flex-start;
  display: flex;
  position: absolute;
  width: 990px;
  height: 55px;
  left: 180px;
  top: 208px;
}

.button {
  position: relative;
  align-items: center;
  background-color:  #FFFFFF;
  color: var(--inv);
  text-transform: uppercase;
  letter-spacing: .15rem;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 5px 5px 4px 
#00000040;
  display: flex;
  height: 55px;
  min-width: 240px;
  padding: 0 87px;
  
  
}

.button:hover{
  background-color: #D1D1F3;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}






  






.place {
  position: absolute;
left: 312px;
right: 1063px;
top: 225px;
bottom: 1379px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #000000;
}
.overlap-group:hover .place{background-color: #3e8e41;}

.overlap-group1 {
  align-items: center;
  background-color:  #FFFFFF;
  border-radius: 12px;
  box-shadow: 5px 5px 4px 
#00000040;
  display: flex;
  height: 55px;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: 240px;
  padding: 0 76px;
}

.booking {
  position: absolute;
left: 551px;
right: 801px;
top: 225px;
bottom: 1379px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #000000;
}

.overlap-group2 {
  align-items: center;
  background-color:  #FFFFFF;
  border-radius: 12px;
  box-shadow: 5px 5px 4px 
#00000040;
  display: flex;
  height: 55px;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: 240px;
  padding: 0 50px;
}

.appointment {
  letter-spacing: 0;
  min-height: 21px;
  width: 139px;
}







/* Header rect */
.header-rect {
  position: absolute;
height: 293px;
left: 0%;
right: 0%;
top: 0px;

background: linear-gradient(93.26deg, #6B69FF -14%, rgba(123, 253, 139, 0.776042) 99.86%, rgba(250, 248, 255, 0) 103.15%);

}

.cinemoment-logo-png-1 {
  position: absolute;
height: 371px;
left: 33.89%;
right: 33.89%;
top: -100px;

background: url(../logo.png);
}

/* Dropdown Button */
.dropbtn {
  align-items: center;
  background-color:  #FFFFFF;
  border-radius: 12px;
  box-shadow: 5px 5px 4px 
#00000040;
  display: flex;
  height: 55px;
  min-width: 240px;
  padding: 0 87px;
  border-width: 0ch;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  height: 55px;
  left: 76.84%;
  right: 14.00%;
  top: 1px;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}







/*Footer*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

.footer {
  align-items: flex-start;
  display: flex;
  
  min-width: 1440px;
  padding: 0 0.5px;
}

.overlap-groupf {
  align-items: flex-start;
  position: relative;
  height: 293px;
  left: -0.07%;
  right: 0.07%;
  bottom: 0px;
  top: 573px;
  
  background: linear-gradient(91.92deg, rgba(128, 145, 255, 0.66) -0.94%, rgba(114, 255, 143, 0.66) 100%);


  background-size: 100% 100%;
  display: flex;
  height: 293px;
  min-width: 1439px;
  padding: 51px 58.5px;
}

.f_-categories {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 131px;
  width: 135px;
  
}

.categories {
  letter-spacing: 0.1ch;
  margin-right: 60px;
  min-height: 21px;
  width: 87px;
}

.booking-appointment-packages {
  letter-spacing: 0;
  line-height: 30.3px;
  margin-right: 4px;
  margin-top: 20px;
  min-height: 90px;
  width: 131px;
}

.f_-information {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  min-height: 101px;
  width: 107px;
}

.informations {
  letter-spacing: 0;
  min-height: 21px;
  width: 103px;
}

.faq-about-us {
  letter-spacing: 0;
  line-height: 30.3px;
  margin-top: 20px;
  min-height: 60px;
  width: 101px;
  margin-left: 10px;
}

.f_-useraccount {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  min-height: 71px;
  width: 127px;
}

.user-account {
  letter-spacing: 0;
  min-height: 21px;
  width: 108px;
 /* margin-right: 70px;*/
}

.my-account {
  letter-spacing: 0;
  line-height: 30.3px;
  margin-top: 20px;
  min-height: 30px;
  white-space: nowrap;
  margin-left: 10px;
}

.f_-contact_-us {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 85px;
  min-height: 150px;
  width: 365px;
}

.contact-us {
  letter-spacing: 0;
  min-height: 21px;
  width: 89px;
}

.flex-row {
  align-items: center;
  display: flex;
  height: 30px;
  margin-left: 8px;
  margin-top: 19px;
  min-width: 153px;
}

.icon-call,
.outline-brands-whatsapp,
.outline-brands-gmail,
.icon-instagram,
.icon-facebook {
  height: 24px;
  width: 24px;
}

.phone {
  letter-spacing: 0;
  line-height: 30.3px;
  margin-left: 18px;
  min-height: 30px;
  min-width: 111px;
  white-space: nowrap;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  height: 30px;
  margin-left: 8px;
  margin-top: 10px;
  min-width: 153px;
}

.gmail-container {
  align-items: center;
  align-self: center;
  display: flex;
  height: 30px;
  margin-left: 2px;
  margin-top: 10px;
  min-width: 351px;
}

.cinemomentweddingfilmsgmailcom {
  letter-spacing: 0;
  line-height: 30.3px;
  margin-left: 18px;
  min-height: 30px;
  min-width: 309px;
  white-space: nowrap;
}

.f_-follow_-us_-on {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  min-height: 147px;
  width: 263px;
}

.follow-us-on {
  letter-spacing: 0;
  margin-left: 0;
  min-height: 21px;
  width: 105px;
}

.flex-row-2 {
  align-items: center;
  display: flex;
  margin-top: 21px;
  min-width: 241px;
}

.cinemomentweddingfilms {
  letter-spacing: 0;
  margin-bottom: 1px;
  margin-left: 9px;
  min-height: 21px;
  min-width: 208px;
}

.flex-row-3 {
  align-items: center;
  display: flex;
  margin-top: 17px;
  min-width: 259px;
}

.cinemoment-wedding-films {
  letter-spacing: 0;
  margin-bottom: 1px;
  margin-left: 9px;
  min-height: 21px;
  min-width: 226px;
}

/* Footer rect */
.footer-rect {
  position: relative;
height: 293px;
left: -0.07%;
right: 0.07%;
bottom: 0px;

background: linear-gradient(91.92deg, rgba(128, 145, 255, 0.66) -0.94%, rgba(114, 255, 143, 0.66) 100%);

}
.myaccount{
  position: relative;
width: 100px;
height: 60px;
left: 1215px;
top: 19px;

mix-blend-mode: normal;
letter-spacing: 0.1ch;

font-size: small;
}


 .rectangle-13{
  position: absolute;
left: 0%;
right: 76.88%;
top: 293px;
width: 250px;
height: 676px;

background: linear-gradient(128.27deg, rgba(88, 126, 255, 0.94) 8.49%, #EEEEEE 192.34%);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */
}